[{
        "client": "local",
        "tgt": "{{ minion }}",
        "fun": "state.apply",
        "arg": ["delete_all_vms"],
        "kwarg": {
            "pillar": {
                "hostname": "{{ hostname }}"
            }
        }
}]