certifi==2022.12.7
chardet==3.0.4
Django==2.1.2
django-widget-tweaks==1.4.3
idna==2.7
Jinja2==2.10
MarkupSafe==1.0
oyaml==0.7
pan-python==0.13.0
pytz==2018.5
PyYAML==3.13
requests==2.20.0
urllib3==1.24
