{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vistoq MSSP Portal</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<img src="{% static 'images/Vistoq-header.png' %}" class="img-fluid"/>


<nav id="pan-nav" class="d-flex navbar navbar-toggleable-md navbar-dark">
      <div id="hamburger-container">
          <img class="nav-bar-icon" id="show-menu-icon" src="../images/menu3.svg" style="width: 16px;" alt=""/>
          <img id="close-menu-icon" src="../images/x-white.svg" style="width: 16px;" alt=""/>
      </div>
      <div class="brand-container">
        <img id="pan-logo" src="../images/logo-pan-white.png" alt=""/><img id="product-name" src="../images/app-names/aperture.svg"/>
      </div>
      <ul id="app-nav" class="nav main-tabs">
        <li class="nav-item" title="dashboard">
          <a id="tab-dashboard" class="nav-link " href="#">Dashboard</a>
        </li>
        <li class="nav-item dropdown" title="Explore">
          <a id="tab-explore" class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore</a>
          <div class="dropdown-menu" id="menu-explore">
            <a class="dropdown-item" href="#">Assets</a>
            <a class="dropdown-item" href="#">People</a>
            <a class="dropdown-item" href="#">Domains</a>
            <a class="dropdown-item" href="#">Activities</a>
            <a class="dropdown-item" href="#">Third-Party Apps</a>
            <a class="dropdown-item" href="#">Quarantine</a>
            <a class="dropdown-item" href="#">Policy Violations</a>
            <a class="dropdown-item" href="#">Security Controls</a>
          </div>
        </li>
        <li class="nav-item dropdown" title="Incidents">
          <a id="tab-incidents" class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Incidents</a>
          <div class="dropdown-menu " id="menu-incidents">
            <a class="dropdown-item" href="#">Assets</a>
            <a class="dropdown-item" href="#">Security Controls</a>
          </div>
        </li>
        <li class="nav-item" title="policy">
          <a id="tab-policy" class="nav-link " href="#">Policy</a>
        </li>
        <li class="nav-item" title="Reports">
          <a id="tab-reports" class="nav-link " href="#">Reports</a>
        </li>
        <li class="nav-item" title="Reports">
          <a id="tab-settings" class="nav-link active" href="#">Settings</a>
        </li>
      </ul>


      <ul id="utility-bar" class="nav utility-bar">

          <li class="nav-item" data-toggle="tooltip" title="Help">
            <a class="nav-link icon-container" href="#" data-tooltip="tooltip" data-placement="bottom" title="Help" data-original-title="Help" >
              <img src="../images/icon-help2.svg" alt=""/>
            </a>
          </li>

          <li class="divider">
          </li>

          <li class="nav-item dropdown nav-item-user" >
            <a class="nav-link dropdown-toggle" href="#" id="pan-user-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pan-username text-truncate">Sylvia Poggioli</span>

            </a>
            <div class="dropdown-menu" id="pan-user-menu" aria-labelledby="pan-user-tab">
              <a class="dropdown-item" href="#">Log Out  </a>

            </div>
          </li>
          <li class="divider">
          </li>
          <li class="nav-item" data-toggle="tooltip" title="Palo Alto Networks Apps">
            <a id="switcher-menu-container" class="nav-link icon-container" href="#"  >
              <img src="../images/icon-9-squares.svg" alt=""/>
            </a>
          </li>
        </ul>

  </nav>
    <!---->
<nav id="pan-nav" class="d-flex navbar navbar-toggleable-md navbar-dark">
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Provisioning
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/mssp/configure">New Internet Gateway Service</a>
                    <a class="dropdown-item" href="/mssp/gpcs">New GPCS Service</a>
                    <a class="dropdown-item" href="/mssp/gpcs-cpe">GPCS Remote CPE Configuration</a>
                    <a class="dropdown-item" href="/mssp/sfn">SFN NGFW</a>
                    <a class="dropdown-item" href="/mssp/addon">NGFW Add-On Configs</a>
                    <a class="dropdown-item" href="/mssp/refarch">Reference Architecture Configs</a>
                    <a class="dropdown-item" href="/mssp/services">View Existing Services</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop0" data-toggle="dropdown">
                    Deployment
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/mssp/deploy">Deploy Pan-OS NGFW</a>
                    <a class="dropdown-item" href="/mssp/nodes">Whitebox Node Status</a>
                    <a class="dropdown-item" href="/mssp/vms">Show Deployed NGFWs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                    Admin Portal
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Configure Panorama Access</a>
                    <a class="dropdown-item" href="#">Manage Auth Codes</a>
                    <a class="dropdown-item" href="#">Create VM Auth Key</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop3" data-toggle="dropdown">
                    Documentation
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Portal User Guide</a>
                    <a class="dropdown-item" href="#">Github Repository</a>
                    <a class="dropdown-item" href="#">MSSP More Information</a>
                </div>
            </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop4" data-toggle="dropdown">
                    Visibility Tools
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Create SLR</a>
                    <a class="dropdown-item" href="#">Create BPA</a>
                    <a class="dropdown-item" href="#">Access Reports</a>
                    <a class="dropdown-item" href="#">View SOC Dashboard</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop5" data-toggle="dropdown">
                    Future Configuration
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Traps</a>
                    <a class="dropdown-item" href="#">RedLock</a>
                    <a class="dropdown-item" href="#">Aperture</a>
                    <a class="dropdown-item" href="#">MineMeld and EDL</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div id="page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 my-5">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>