{% extends "mssp/base.html" %}
{% load static %}

{% block content %}
<div class="card border-primary mb-6">
    <div class="card-header">Deployment</div>
    <div class="card-body">
        <h4 class="card-title">Currently Deployed Pan-OS NGFWs</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Hostname</th>
                <th scope="col">Status</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for vm in vms %}
            <tr>
                <th scope="row">></th>
                <td>{{ vm.hostname }}</td>
                <td>{{ vm.status }}</td>
                <td><a href="delete/{{ minion }}/{{ vm.hostname }}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{%  endblock %}