{% extends "mssp/base.html" %}
{% load static %}

{% block content %}
WHAT THE FUCK
    <div class="card border-primary mb-6">
        <h1 class="page-title">{{ title }}</h1>
        <!--<div class="card-header text-white bg-primary">{{ header }}</div>-->
        <div class="card-body">

            <p class="card-text">
            <form action="{{ action }}" method="post">
                {% csrf_token %}
                {% include 'mssp/bootstrap_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </p>
        </div>
    </div>

{% endblock %}